.card{

  background-color: rgb(1, 0, 59);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 10px;
  color: white;
  margin-top: 20px;
width: fit-content;
margin-inline: auto;
}
table {
  width: 100%;
}
th {

  padding: 10px 20px ;
}
td {
  padding:10px 20px ;
  text-align: center;
}
